* {
  margin: 0;
}

/*.logo {
  font-family: 'Sarina', cursive;
  text-align: center;
  font-size: 62px;
}*/

.jumbotron h1 {
  text-align: center;
  font-family: 'Sarina', cursive;
}

.jumbotron p {
  font-family: sans-serif;
  text-align: center;
}

.carousel-inner {
  height: 450px;
  width: 1920px;
}

.carousel-control.left {
  height: 450px;
  width: 190px;
}

.carousel-control.right {
  height: 450px;
  width: 190px;
}
