body {
  padding-top: 50px;
  margin: 0;
}

nav {
  background: darkgrey;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  position: fixed;
}

nav > a {
	color:  black;
	font-family: 'Sarina', sans-serif;
	font-size: 26px;
	font-weight: 700;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}

nav ul {
  position: absolute;
  right: 25px;
  top: 5px;
}

nav li {
  display: inline-block;
  padding: 0 15px;
}

nav li > a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav li > a:hover,
nav li > a:focus {
  color: #80e3a9;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Sarina', cursive;
}

.jumbotron p {
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
}
