* {
  margin: 0;
}

/*.logo {
  font-family: 'Sarina', cursive;
  text-align: center;
  font-size: 62px;
}*/

.jumbotron {
  margin-bottom: 0;
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Sarina', cursive;
}

.jumbotron p {
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
}
